<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link th:href="@{/css/home.css}"
              rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <style>
            #map {
                width: 50%;
                height: 400px;
                margin: auto;

            }
        </style>
        <title>Superhero Sightings</title>
    </head>
    <body>
        <!-- Main Body of Page -->

        <!-- End main body -->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="js/jquery-2.2.4.min.js"></script>
        <script th:src="@{/js/home.js}"></script>
        <script th:src="@{/js/design.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <script th:inline="javascript">

            var sightingsArray = /*[[${sightings}]]*/ [];
            var openInfoWindow;

            // Initialize and add the map
            function initMap() {
                console.log(sightingsArray);
                // The location of Uluru
                var firstLocation = {lat: sightingsArray[0].location.latitude, lng: sightingsArray[0].location.longitude};
                // The map, centered at Uluru
                var map = new google.maps.Map(
                        document.getElementById('map'), {zoom: 4, center: firstLocation});
                // The marker, positioned at Uluru //var icon = sighting.hero.photoFilename;
                for (i = 0; i < sightingsArray.length; i++) {
                    var sighting = sightingsArray[i];
                    var location = sightingsArray[i].location;
                    var position = {lat: location.latitude, lng: location.longitude};
                    var title = location.locationName
                    var icon = {
                        url: sighting.hero.photoFilename, // url
                        scaledSize: new google.maps.Size(50, 50), // scaled size
                        origin: new google.maps.Point(0, 0), // origin
                        anchor: new google.maps.Point(0, 0) // anchor
                    };

                    console.log(i);
                    console.log(icon);
                    console.log("This file is at " + sighting.hero.photoFileName)
                    const marker = new google.maps.Marker({position: position, map: map, title: title, icon: icon});
                    var content =
                            '<div id="content">' + '<h1 id="firstHeading" class="firstHeading">' + location.locationName + '</h1>' +
                            '<div id="bodyContent">' +
                            '<p>' + location.locationDescription + '</p>' +
                            '<p>' + location.locationAddress + '</p>' +
                            '<p>' + location.locationCity + ', ' + location.locationState + ' ' + location.zipCode + ' ' + location.country + '</p>' +
                            '<p>' + location.latitude + ', ' + location.longitude + '</p>' +
                            "</div>" +
                            "</div>";

                    var infowindow = new google.maps.InfoWindow()


                    google.maps.event.addListener(marker, 'click', (function (marker, content, infowindow) {
                        return function () {

                            if (openInfoWindow)
                                openInfoWindow.close();

                            infowindow.setContent(content);
                            openInfoWindow = infowindow;
                            infowindow.open(map, marker);

                        };
                    })(marker, content, infowindow));
                }

            }

            function closeOtherInfo() {
                if (InforObj.length > 0) {
                    InforObj[0].set("marker", null);
                    InforObj[0].close();
                    InforObj.length = 0;
                }
            }

        </script>
        <script defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4ZKtqSmMKm51iys8uCdqosZwtEgF_duU&callback=initMap">
        </script>
    </body>
</html>;
<div class="container">
    <div class="row m-4">
        <div class="col text-center border border-dark">
            <h1>Hero Tracker</h1>
        </div>



    </div>

    <div id="buttonNavBar" class="text-center">	
        <a  th:href="@{index}" class="btn btn-outline-primary btn-lg active"><h3>Home</h3></a>

        <a th:href="@{heroes}" class="btn btn-outline-primary btn-lg"><h3>Heroes</h3></a>	
        <a th:href="@{organizations}" class="btn btn-outline-primary btn-lg"><h3>Organizations</h3></a>	

        <a th:href="@{sightings}" class="btn btn-outline-primary btn-lg "><h3>Sightings</h3></a>	


        <a th:href="@{locations}" class="btn btn-outline-primary btn-lg"><h3>Locations</h3></a>	


        <a th:href="@{superpowers}" class="btn btn-outline-primary btn-lg"><h3>Superpowers</h3></a>	
    </div>	
    <div class="text-center">
        <h2><u>Top Ten Hero Sightings</u></h2>
    </div>

    <div class="row m-4">
        <div class="col text-center border border-dark" id="map">
            TEST
        </div>
    </div>

    <div class= "grid container" >
        <div th:each="sighting : ${sightings}" >
            <div  id="content" class= "card" >
                <div><img></div> 
                <div>
                    <a href="#" name="heroId" th:text="'' +${sighting.hero.heroName}" onClick="getHero(this.id)" th:id="${sighting.hero.heroId}"></a>
                    <p>
                        <a href="#" onClick="getLocation(this.id)" th:id="${sighting.location.locationId}" th:text="${sighting.location.locationName}"/>  
                    </p>
                    <p id="sightingDate" th:text="'Date: '+${sighting.dateAsString}">Date </p>

                </div>
            </div>
        </div>
